:root {
  --main-color: #fd4646;
  --text-color: #02ac70;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}

body {
  font-family: Arial, sans-serif;
  background: var(--container-color);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #fd4646;
  font-size: 48px;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  margin-bottom: 30px;
}
a {
  color: #02ac70;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
