@import '../gallery/gallery.css';

:root {
  --main-color: #fd4646;
  --text-color: #02ac70;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}
body {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
			"header  header"
			"gallery info"
			"footer  footer";
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 100px 1fr 100px;
	column-gap: 30px;

	padding: 16px;

	  font-family: "Clash Display";
	color: var(--bg-color);
	background: var(--container-color);
}

.gallery-container {
	grid-area: gallery;
}

h1 {
	text-align: center;
	grid-area: header;
}

.name {
	font-size: 2rem;
}

.price {
	font-size: 1.5rem;
}

hr {
	margin: 20px 0;
}

.detailed-info > ul {
	list-style: none;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.5rem;
}

.description {
	padding-left: 20px;
}

ul ul {
	list-style: disc;
}

.description,
ul ul > li {
	font-size: 1.3rem;
}

.hm {
	display: block;
	width: 150px;
	height: min-content;
	padding: 10px;
	margin: auto;
	background: var(--text-color);

	text-decoration: none;
	text-align: center;
	color: var(--bg-color);

	border: none;
	border-radius: 5px;

	cursor: pointer;

	grid-area: footer;
}

@media only screen and (max-width: 800px) {
	body {
		grid-template:
			"header" 100px
			"gallery" 1fr
			"info" 1fr
			"footer" 100px / 1fr;
	}
}